.card-container {
    margin: 20px;
    height: auto;
    width: 300px;
    border: 1px solid rgb(186, 186, 186);
}

.card-image {
    display: block;
    width: 296px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
}

.card-text {}